hybris/bin/*
!hybris/bin/custom

hybris/data
hybris/temp
hybris/log
hybris/config-**
hybris/config
*workspace
**/eclipsebin

velocity.log
*.swp
*.bak
*.class
workspace

/hybris/bin/custom/farmclubaddon/idea-module-files/
/hybris/bin/custom/farmclubaddon/gensrc/
/hybris/bin/custom/farmclubaddon/.settings/
/hybris/bin/custom/farmclubaddon/.externalToolBuilders/
*.settings
*.externalToolBuilders