hybris/bin/*
!hybris/bin/custom

hybris/data
hybris/temp
hybris/log
hybris/config-**
hybris/config
*workspace
**/eclipsebin

velocity.log
*.swp
*.bak
*.class
workspace

#jalo
hybris/bin/custom/emvmypos/emvmyposcore/src/de/querplex/emv/mypos/core/jalo/DealerUserGroup.java
hybris/bin/custom/emvmyposintegration/src/de/querplex/hybris/emv/jalo/ImportProductByDealerCronJob.java
**/.sass-cache

**/.idea
**/*.iml

hybris/bin/custom/**/ruleset.xml
hybris/bin/custom/emvmypos/emvmyposstorefront/**/addonsrc
hybris/bin/custom/emvmypos/emvmyposstorefront/**/addons
hybris/bin/custom/emvmypos/emvmyposstorefront/**/addontestsrc
